<div class="cricket-top-section-v2" id="cricket-top-section-v2">
    <div class="top-score-section-v2">
      <div class="top-score-title">
        <div class="cricket-match-card-header-secondary-text">
          <span class="cricket-match-card--match-type">{{scorelist?.title}}</span>
          <span>•</span>
          <span class="cricket-match-card--match-venue">{{scorelist?.venue?.name}}</span>
          <span>•</span>
          <span class="cricket-match-card--match-venue">{{scorelist?.venue?.location}}</span>
        </div>
      </div>
      <div class="score-primary-partition " >
        <div class="match-teams">
          <div class="team-1-score-strip-baseline"></div>
          <div class="score-strip team1-score-strip" >
            <div class="flag-country "  [class]="scorelist?.status_str!='Scheduled'?'flag-countrys':''">
              <img  [src]="scorelist?.teama?.logo_url" (error)="scorelist?.teama?.logo_url?scorelist?.teama?.logo_url : teamDefaultImg" width="48" height="38" alt="team-logo" class="flag bind"
                data="data.score_strip.0.team_flag" data-img-params="?w=192">
              <span class="country bind" data="data.score_strip.0.name">
                <a routerLink="/team/{{scorelist?.abbr}}" aria-label="team-redirect" > {{scorelist?.teama?.name}} </a>
              </span>
            </div>
            <div class="score-over">
              <div class="powerplay-tooltip">
                <div class="bottom powerplay-tooltip-1"> </div>
                <i></i>
                <span class="power-play-label team1 hidden"></span>
              </div>
              <span class="score bind" data="data.score_strip.0.score_wickets_info">{{scorelist?.teama?.scores_full}}</span>
              <!-- <span class="overs-info bind" data="data.score_strip.0.overs_info">(78.3)</span> -->
            </div>

            
          </div>

        </div>
        
        <div class="match-scorecard-time " id="match-scorecard-time">
          <!-- <span class="match-date" *ngIf="scorelist?.status_str=='Live'">{{formattedDate2}} </span>
          <span class="match-time" *ngIf="scorelist?.status_str=='Live'">{{formattedTime}} </span> -->
        </div>
      </div>
      <div class="score-primary-partition " [ngClass]="scorelist?.status_str!='Scheduled'?' unset-box-shadow':''">
        <div class="match-teams">
          <div class="team-1-score-strip-baseline"></div>
          <div class="score-strip team1-score-strip" >
            <div class="flag-country "  [class]="scorelist?.status_str!='Scheduled'?'flag-countrys':''">
              <img  [src]="scorelist?.teamb?.logo_url" (error)="scorelist?.teama?.logo_url?scorelist?.teama?.logo_url : teamDefaultImg" width="48" height="38" alt="team-logo" class="flag bind"
                data="data.score_strip.0.team_flag" data-img-params="?w=192">
              <span class="country bind" data="data.score_strip.0.name">
                <a routerLink="/team/{{scorelist?.abbr}}" aria-label="team-redirect" > {{scorelist?.teamb?.name}} </a>
              </span>
            </div>
            <div class="score-over">
              <div class="powerplay-tooltip">
                <div class="bottom powerplay-tooltip-1"> </div>
                <i></i>
                <span class="power-play-label team1 hidden"></span>
              </div>
              <span class="score bind" data="data.score_strip.0.score_wickets_info">{{scorelist?.teamb.scores_full}}</span>
              <!-- <span class="overs-info bind" data="data.score_strip.0.overs_info">(78.3)</span> -->
            </div>

            
          </div>

        </div>
        
        <div class="match-scorecard-time " id="match-scorecard-time">
          <!-- <span class="match-date" *ngIf="scorelist?.status_str=='Live'">{{formattedDate2}} </span>
          <span class="match-time" *ngIf="scorelist?.status_str=='Live'">{{formattedTime}} </span> -->
        </div>
      </div>
     <div class="score-secondary-partition" >
        <div class="match_info cricket-block">
          <div>
            <span class="bind match-info match-result " [class]="scorelist?.status_str!='Completed'?'win':''">
              {{scorelist?.status_note}}<span class="win-margin"></span>
            </span>
          </div>
        </div> 
        <div class="vertical-partition" *ngIf="scorelist?.status_str=='Live'">
          <div class="run-rate-div current-run-rate-div p-l-0" >
            <span class="run-rate-label">CRR:</span>
            <span class="run-rate-value current-run-rate">3.2</span>
          </div>
          <div class="run-rate-div required-run-rate-div hidden">
            <span class="run-rate-label">RRR:</span>
            <span class="run-rate-value required-run-rate">
            </span>
          </div>
          <div class="run-rate-div overs-left-today-div hidden">
            <span class="run-rate-label overs-left">Overs left today:</span>
            <span class="run-rate-value overs-left-today">
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>