<section class="bottom-fragments-container">

  <div class="bottom-navbar">
    <a routerLink="/home" routerLinkActive="active">
      <img src="/assets/ic-home-v2.svg" width="20" height="20" alt="cricket home">
      <span>Home</span>
    </a>
    <a routerLink="/cricket-schedule" routerLinkActive="active">
      <img src="/assets/ic-bat-ball-outline.svg" width="21" height="20"
        alt="cricket matches">
      <span>Live</span>
    </a>
    <a routerLink="/news" class="trophy-item " routerLinkActive="active">
      <img src="/assets/ic-trophy-v2.svg" width="30" height="29"
        alt="cricket series">
      <span>News</span>
    </a>

    <a routerLink="/series" routerLinkActive="active">
      <img src="/assets/ic-fantasy-v2.svg" width="20" height="20"
        alt="cricket fantasy">
      <span>Series</span>
    </a>
    <a routerLink="/ranking/icc-odi-ranking" routerLinkActive="active">
      <img src="../../../assets/image/ranking.svg" width="20" height="20"
        alt="cricket fantasy">
      <span>Ranking</span>
    </a>
  </div>

</section>
