<div class="mobile-footer" *ngIf="mainFooter">
  <div class="footer-logo">
    <img src="/assets/tejscore-footer-logo.svg" alt="">
    <p class="my-3">Tejscore - For the hardcore sports fan.  We are a Great Place to Work certified organization, with employees and contributors working from
      various corners of the globe.</p>

  </div>
  <div class="termspolicy">
    <a routerLink="">Terms & Conditions</a>
    <a routerLink="" class="mx-5"> Privacy Policy</a>
    <a routerLink="/about-us" class="">About Us</a>

  </div>
  <div class="socialicons">
    <p class="mt-4">Follow Us On Social Media</p>
    <div class="my-3">
      <a routerLink="" class="mx-2">
        <img src="../../assets/image/Subtract.svg" alt="">
      </a>
      <a routerLink="" class="mx-2">
        <img src="../../assets/image/instagram.svg" alt="">
      </a>
      <a routerLink="" class="mx-2">
        <img src="../../assets/image/youtube.svg" alt="">
      </a>
      <a routerLink="" class="mx-2">
        <img src="../../assets/image/linkedIn.svg" alt="">
      </a>
      <a routerLink="" class="mx-2">
        <img src="../../assets/image/twitter.svg" alt="">
      </a>
    </div>
    <div class="policy"> ©️ 2024 tejscore.com | All Rights Reserved</div>
    <div class="languages"><a routerLink="">English</a> <img id="img1"
        src="../../assets/image/icons8-expand-arrow-50.png"></div>

  </div>

</div>
