<div id="keeda_widget_loader" *ngIf="loader==true" >
  <img class="spin cricket-ball" src="/assets/cricket_ball.svg"
    alt="loader" >
</div>



<div class="container editor-width-100-pc wrapper-container" id="wrapper-containerss">
    <div class="fragments-container ">
        <div class="cricket-top-section-v2" id="cricket-top-section-v2">
            <div class="top-score-section-v2">
              <div class="top-score-title">
                <div class="cricket-match-card-header-secondary-text">
                  <span class="cricket-match-card--match-type">{{scorelist?.title}}</span>
                  <span>•</span>
                  <span class="cricket-match-card--match-venue">{{scorelist?.venue?.name}}</span>
                  <span>•</span>
                  <span class="cricket-match-card--match-venue">{{scorelist?.venue?.location}}</span>
                </div>
              </div>
              <div class="score-primary-partition " [ngClass]="scorelist?.status_str=='Live'?' unset-box-shadow':''">
                <div class="match-teams">
                  <div class="team-1-score-strip-baseline"></div>
                  <div class="score-strip team1-score-strip" >
                    <div class="flag-country "  [class]="scorelist.status_str=='Completed'?'flag-countrys':''">
                      <img  [src]="scorelist?.teama?.logo_url" (error)="scorelist?.teama?.logo_url? scorelist?.teama?.logo_url: teamDefaultImg" width="48" height="38" alt="team-logo" class="flag bind"
                        data="data.score_strip.0.team_flag" data-img-params="?w=192">
                      <span class="country bind" data="data.score_strip.0.name">
                        <a routerLink="/team/{{scorelist?.abbr}}" aria-label="team-redirect" > {{scorelist?.teama?.name}} </a>
                      </span>
                    </div>
                    <div class="score-over ">
                      <div class="powerplay-tooltip">
                        <div class="bottom powerplay-tooltip-1"> </div>
                        <i></i>
                        <span class="power-play-label team1 hidden"></span>
                      </div>
                      <span class="score bind" data="data.score_strip.0.score_wickets_info">{{scorelist?.teama?.scores_full}}</span>
                      <!-- <span class="overs-info bind" data="data.score_strip.0.overs_info">(78.3)</span> -->
                    </div>
                  </div>
                  <div class="score-strip team1-score-strip" >
                    <div class="flag-country "  [class]="scorelist?.status_str=='Completed'?'flag-countrys':''">
                      <img  [src]="scorelist?.teamb?.logo_url" (error)="scorelist?.teama?.logo_url? scorelist?.teama?.logo_url: teamDefaultImg" width="48" height="38" alt="team-logo" class="flag bind"
                        data="data.score_strip.0.team_flag" data-img-params="?w=192">
                      <span class="country bind" data="data.score_strip.0.name">
                        <a routerLink="/team/{{scorelist?.abbr}}" aria-label="team-redirect" > {{scorelist?.teamb?.name}} </a>
                      </span>
                    </div>
                    <div class="score-over ">
                      <div class="powerplay-tooltip">
                        <div class="bottom powerplay-tooltip-1"> </div>
                        <i></i>
                        <span class="power-play-label team1 hidden"></span>
                      </div>
                      <span class="score bind" data="data.score_strip.0.score_wickets_info">{{scorelist?.teamb?.scores_full}}</span>
                      <!-- <span class="overs-info bind" data="data.score_strip.0.overs_info">(78.3)</span> -->
                    </div>
                  </div>
      
                </div>
                <div class="match-scorecard-time " id="match-scorecard-time">
                  <span class="match-date" *ngIf="scorelist?.status_str=='Live'">{{formattedDate2}} </span>
                  <span class="match-time" *ngIf="scorelist?.status_str=='Live'">{{formattedTime}} </span>
                </div>
              </div>
              <div class="score-secondary-partition" >
                <div class="match_info cricket-block">
                  <div>
                    <span class="bind match-info match-result " [class]="scorelist?.status_str=='post'?'win':''">
                      {{scorelist?.status_note}}<span class="win-margin"></span>
                    </span>
                  </div>
                </div>
                <div class="vertical-partition" *ngIf="scorelist?.status_str=='Live'">
                  <div class="run-rate-div current-run-rate-div p-l-0" >
                    <span class="run-rate-label">CRR:</span>
                    <span class="run-rate-value current-run-rate">{{liveScoreList[0]?.run_rate_numeric || liveScoreList[1]?.run_rate_numeric}}</span>
                  </div>
                  <div class="run-rate-div required-run-rate-div hidden">
                    <span class="run-rate-label">RRR:</span>
                    <span class="run-rate-value required-run-rate">
                    </span>
                  </div>
                  <div class="run-rate-div overs-left-today-div hidden">
                    <span class="run-rate-label overs-left">Overs left today:</span>
                    <span class="run-rate-value overs-left-today">
                    </span>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
          <div class="cricket-block score-strip-holder">
            <div class="row fl tabs-container font-common preview-fantasy-header-row">
              <div class="cmc-inside-tabs">
                <div class="preview-header cmc-scrollable-tab" routerLink="/livecricket-score/{{matchId}}">
                  <div class="cmc-section-tab preview-tab">
                    Info</div>
                </div>
                <div class="fantasy-header cmc-scrollable-tab" routerLink="/fantasy/{{matchId}}">
                  <div class="cmc-section-tab fantasy-tab header-hovered">Fantasy</div>
                </div>
                <div class="commentary-tab-header cmc-scrollable-tab" routerLink="/live/{{matchId}}">
                  <div class="cmc-section-tab commentary-tab">Live</div>
                </div>
                <div class="scorecard-header cmc-scrollable-tab" routerLink="/scorecard/{{matchId}}">
                  <div class="cmc-section-tab scorecard-tab">
                    Scorecard</div>
                </div>
                <div class="scorecard-header cmc-scrollable-tab" *ngIf="hide==false" routerLink="/squad/{{matchId}}">
                  <div class="cmc-section-tab scorecard-tab">
                    Squad</div>
                </div>
      
                <div class="match-squad-header cmc-scrollable-tab " *ngIf="hide==true">
                  <div class="cmc-section-tab squad-tab header-hovered">
                    <span id="squad-tab-title">Playing XI</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div id="squad-data" class="squad-data squad-cmc" >
            <div class="playing-xi-sections" id="playing-xi-players">
              <div id="squad-team-card-holder" class="players-data preview-card-holder playing-content playing-content-open">
                <div class="preview-card-content team-card" *ngIf="!loader">
                  <div class="team-holder" *ngIf="scorelist?.status_str!=='Live'">
                    <span>
                      <a class="team-flag-anchor" routerLink="/team/india-national-cricket-team">
                        <img width="48" height="38" alt="team-logo" class="team-flag" id="team-flag-IND"
                          src="{{scorelist?.teama?.logo_url }}"
                          >
                        {{scorelist?.teama?.short_name}}
                      </a>
                    </span>
                    <span>vs</span>
                    <span>
                      <a class="team-flag-anchor" routerLink="/team/england-cricket">
                        {{scorelist?.teamb?.short_name}}
                        <img width="48" height="38" alt="team-logo" class="team-flag" id="team-flag-ENG" src="{{scorelist?.teamb?.logo_url}}"
                          >
                      </a>
                    </span>
                  </div>
                  <div class="team-holder" *ngIf="scorelist?.status_str=='Live'">
                    <span>
                      <a class="team-flag-anchor" routerLink="/team/{{scorelist?.teama?.short_name}}">
                        <img width="48" height="38" alt="team-logo" class="team-flag" id="team-flag-IND"[src]="scorelist?.teama?.logo_url || teamDefaultImg"
      
                         >
                        {{scorelist?.teama?.short_name}}
                      </a>
                    </span>
                    <span>vs</span>
                    <span>
                      <a class="team-flag-anchor" routerLink="/team/{{scorelist?.teamb?.short_name}}">
                        {{scorelist?.teamb?.short_name}}
                        <img width="48" height="38" alt="team-logo" class="team-flag" id="team-flag-ENG"[src]="scorelist?.teamb?.logo_url || teamDefaultImg"
                         >
                      </a>
                    </span>
                  </div>
                  <div class="squads-holder"  *ngIf="scorelist?.status_str!=='Scheduled'">
                    <!-- <div class="impact-players " id="impact-players" *ngIf="matchSquads?.teams[0].impact_players && matchSquads?.teams[0].impact_players.length > 0">
                      <div class="impact-title">Impact Player</div>
                      <div class="impact-section">
                        <div class="team-squad team-squad-left" id="team-impact-RCB">
                          <ng-container *ngFor="let impPlayer of matchSquads?.teams[0].impact_players;let i=index,trackBy:userByName">
                            <div class="player-role-info" >
                              <div class="player-img-anchor"><img class="player-img " [class]="impPlayer.in=='true'?'impact-in':'impact-out'"
                                [src]="getPlayerImage(impPlayer.pid)  || '../../assets/team-default.png'" alt="player-img"
                                  height="40" width="40"></div>
                              <div class="squad-player left-info"><a class="player-cta" routerLink="/player/{{impPlayer.pid}}"><span
                                    class="player-name">{{impPlayer.name}}</span></a>
                                <p class="player-role">
                                  <span>{{ impPlayer.role === 'wicket-keeper' ? 'Bat & WK' : impPlayer.role === 'all-rounder' ? 'All' : impPlayer.role === 'bowler' ? 'Bowl' : 'bat' }}</span>
      
                                  <span class="impact-role impact-player-div role-left">
                                  <img *ngIf="impPlayer.in=='true'"
                                      class="impact-player-role-icon" alt="impact-role-icon" title="Impact Player"
                                      src="/assets/cmc-impact-player.png">
                                      <img *ngIf="impPlayer.out=='true'" class="impact-player-role-icon" alt="impact-role-icon" title="Substitute"
                                      src="../../assets/cmc-substitute-player.png">
                                      <span class="impact-tooltip">Impact Player</span>
                                      </span></p>
                              </div>
                            </div>
                            <div class="impact-image">
                              <img class="impact-player-icon"
                                src="/assets/impact-players-arrow.png" alt="impact-player">
                            </div>
                          </ng-container>
                        </div>
                        <div class="team-squad team-squad-border">
                          <hr>
                        </div>
                        <div class="team-squad team-squad-right" id="team-impact-KKR">
                          <div class="player-role-info" *ngFor="let impPlayer of matchSquads?.teams[1].impact_players;let i=index,trackBy:userByName">
                            <div class="squad-player right-info"><a class="player-cta" routerLink="/player/angkrish-raghuvanshi"><span
                                  class="player-name">{{impPlayer.name}}</span></a>
                              <p class="player-role"><span class="impact-role impact-player-div role-right"><img *ngIf="impPlayer.in=='true'"
                                class="impact-player-role-icon" alt="impact-role-icon" title="Impact Player"
                                src="/assets/cmc-impact-player.png">
                                <img *ngIf="impPlayer.out=='true'" class="impact-player-role-icon" alt="impact-role-icon" title="Substitute"
                                src="/assets/cmc-substitute-player.png"><span class="impact-tooltip">Impact
                                    Player</span></span>
                                    <span>{{ impPlayer.role === 'wicket-keeper' ? 'Bat & WK' : impPlayer.role === 'all-rounder' ? 'All' : impPlayer.role === 'bowler' ? 'Bowl' : 'bat' }}</span>
      
                                  </p>
                            </div>
                            <div class="player-img-anchor"><img class="player-img"  [class]="impPlayer.in=='true'?'impact-in':'impact-out'"
                              [src]="getPlayerImage(impPlayer.pid)  || '../../assets/team-default.png'" alt="player-img"
                                height="40" width="40"></div>
                          </div>
                          <div class="impact-image"><img class="impact-player-icon"
                              src="/assets/impact-players-arrow.png" alt="impact-player"></div>
                        </div>
                      </div>
                    </div> -->
                    <!-- <div class="substitute-title playing-xi-title " *ngIf="matchSquads?.teams[0].impact_players && matchSquads?.teams[0].impact_players.length > 0">Playing XI</div> -->
                    <div class="team-squad team-squad-left" id="team-IND">
                      <div class="player-role-info " *ngFor="let player of matchSquads?.teama?.playing11;let i=index">
                        <div class="player-img-anchor">
                          <img class="player-img" [src]="getPlayerImage(player.pid) || '../../assets/team-default.png'" width="54" height="38" alt="team-flag"
                            alt="player-img" height="40" width="40">
      
                        </div>
                        <div class="squad-player left-info">
                          <a class="player-cta" routerLink="/player/{{player.pid}}">
                            <span [class]="player.pid==''?'blck':''"
                              class="player-name" >{{player.name}}</span><span class="role-icon" *ngIf="player.role_str=='(C)'">(C)</span><span class="player-delta-in left" *ngIf="player.delta==1"><span></span></span>
                            </a>
                          <p class="player-role">
                            <span>{{ player.role === 'wk' ? 'Bat & WK' : player.role === 'all' ? 'All' : player.role === 'bowl' ? 'Bowl' : 'Bat' }}</span>
      
                          </p>
                          <p class="player-role">
                            <span>Point :{{player.point}}</span>,
                            <span>Rating :{{player.rating}}</span>
                          </p>
                        </div>
                      </div>
      
                    </div>
                    <div class="team-squad team-squad-border">
                      <hr>
                    </div>
                    <div class="team-squad team-squad-right" id="team-ENG">
                      <div class="player-role-info " *ngFor="let player of matchSquads?.teamb?.playing11;let i=index">
                        <div class="squad-player right-info"><a class="player-cta" routerLink="/player/{{player.pid}}" [class]="player.pid==''?'blck':''"><span class="role-icon" *ngIf="player.role_str=='(C)'">(C)</span><span class="player-delta-in right" *ngIf="player.delta==1"><span></span></span><span
                              class="player-name">{{player.name}}</span></a>
                          <p class="player-role">
                            <span>{{ player.role === 'wk' ? 'Bat & WK' : player.role === 'all' ? 'All' : player.role === 'bowl' ? 'Bowl' : 'Bat' }}</span>
      
                          </p>
                          <p class="player-role">
                            <span>Point :{{player.point}}</span>,
                            <span>Rating :{{player.rating}}</span>
                          </p>
                        </div>
                        <div class="player-img-anchor"><img class="player-img"
                            [src]=" getPlayerImage(player.pid) ||  ' ../../assets/team-default.png'" alt="player-img"
                            height="40" width="40"></div>
                      </div>
      
                    </div>
                    <div class="substitute-players hidden" id="substitute-players">
                      <div class="substitute-title">Substitute</div>
                      <div class="team-squad team-squad-left" id="team-substitute-IND"></div>
                      <div class="team-squad team-squad-border">
                        <hr>
                      </div>
                      <div class="team-squad team-squad-right" id="team-substitute-ENG"></div>
                    </div>
                    <div class="bench-players " id="bench-players">
                      <div class="bench-title">Bench</div>
                      <div class="team-squad team-squad-left" id="team-bench-IND">
                        <div class="player-role-info" *ngFor="let bnplayer of matchSquads?.teama?.substitute">
                          <div class="player-img-anchor"><img class="player-img"
                              [src]="getPlayerImage(bnplayer.pid) ||  '../../assets/team-default.png'" alt="player-img"
                              height="40" width="40"></div>
                          <div class="squad-player left-info"><a class="player-cta" routerLink="/player/{{bnplayer.pid}}" [class]="bnplayer.pid==''?'blck':''"><span class="player-name">
                                {{bnplayer.name}}</span><span class="role-icon" *ngIf="bnplayer.role_str=='(C)'">(C)</span><span class="player-delta-out left" *ngIf="bnplayer.delta==-1"><span></span></span></a>
                            <p class="player-role">
                              <!-- <span>{{bnplayer.role}}</span> -->
                              <span>{{ bnplayer.role === 'wk' ? 'Bat & WK' : bnplayer.role === 'all' ? 'All' : bnplayer.role === 'bowl' ? 'Bowl' : 'Bat' }}</span>
      
                            </p>
                            <p class="player-role">
                                <span>Point :{{bnplayer.point}}</span>,
                                <span>Rating :{{bnplayer.rating}}</span>
                              </p>
                          </div>
                        </div>
      
                      </div>
                      <div class="team-squad team-squad-border">
                        <hr>
                      </div>
                      <div class="team-squad team-squad-right" id="team-bench-ENG">
                        <div class="player-role-info" *ngFor="let bnplayer of matchSquads?.teamb?.substitute">
                          <div class="squad-player right-info"><a class="player-cta" routerLink="/player/{{bnplayer.pid}}" [class]="bnplayer.pid==''?'blck':''"><span class="player-delta-out right" *ngIf="bnplayer.delta==-1"><span></span></span><span
                                class="player-name">{{bnplayer.name}}</span><span class="role-icon" *ngIf="bnplayer.role_str=='(C)'">(C)</span></a>
                            <p class="player-role">
                              <!-- <span>{{bnplayer.role}}</span> -->
                              <span>{{ bnplayer.role === 'wk' ? 'Bat & WK' : bnplayer.role === 'all' ? 'All' : bnplayer.role === 'bowl' ? 'Bowl' : 'Bat' }}</span>
                            </p>
                            <p class="player-role">
                                <span>Point :{{bnplayer.point}}</span>,
                                <span>Rating :{{bnplayer.rating}}</span>
                              </p>
                          </div>
                          <div class="player-img-anchor"><img class="player-img"
                              [src]="getPlayerImage(bnplayer.pid) || '../../assets/team-default.png'" alt="player-img"
                              height="40" width="40"></div>
                        </div>
      
                      </div>
                    </div>
                  </div>
                  <div class="squads-holder"  *ngIf="scorelist?.status_str=='Scheduled'">
      
                    <div class="substitute-title playing-xi-title hidden">Playing XI</div>
                    <div class="substitute-players hidden" id="substitute-players">
                      <div class="substitute-title">Substitute</div>
                      <div class="team-squad team-squad-left" id="team-substitute-IND"></div>
                      <div class="team-squad team-squad-border">
                        <hr>
                      </div>
                      <div class="team-squad team-squad-right" id="team-substitute-ENG"></div>
                    </div>
                    <div class="bench-players " id="bench-players">
                      <div class="team-squad team-squad-left" id="team-bench-IND">
                        <div class="player-role-info" *ngFor="let bnplayer of matchSquads?.teama?.squads">
                          <div class="player-img-anchor"><img class="player-img"
                              [src]="getPlayerImage(bnplayer.pid) || '../../assets/team-default.png'" alt="player-img"
                              height="40" width="40"></div>
                          <div class="squad-player left-info"><a class="player-cta" routerLink="/player/{{bnplayer.pid}}" [class]="bnplayer.pid==''?'blck':''"><span class="player-name">
                                {{bnplayer.name}}</span><span class="role-icon" *ngIf="bnplayer.role_str=='(C)'">(C)</span><span class="player-delta-out left" *ngIf="bnplayer.delta==-1"><span></span></span></a>
                            <p class="player-role">
                                  <span>{{ bnplayer.role === 'wk' ? 'Bat & WK' : bnplayer.role === 'all' ? 'All' : bnplayer.role === 'bowl' ? 'Bowl' : 'Bat' }}</span>
                            </p>
                          </div>
                        </div>
      
                      </div>
                      <div class="team-squad team-squad-border">
                        <hr>
                      </div>
                      <div class="team-squad team-squad-right" id="team-bench-ENG">
                        <div class="player-role-info" *ngFor="let bnplayer of matchSquads?.teamb?.squads">
                          <div class="squad-player right-info"><a class="player-cta" routerLink="/player/{{bnplayer.pid}}" [class]="bnplayer.pid==''?'blck':''"><span class="player-delta-out right" *ngIf="bnplayer.delta==-1"><span></span></span><span
                                class="player-name">{{bnplayer.name}}</span><span class="role-icon" *ngIf="bnplayer.role_str=='(C)'">(C)</span></a>
                            <p class="player-role">
                                <span>{{ bnplayer.role === 'wk' ? 'Bat & WK' : bnplayer.role === 'all' ? 'All' : bnplayer.role === 'bowl' ? 'Bowl' : 'Bat' }}</span>
                            </p>
                          </div>
                          <div class="player-img-anchor"><img class="player-img"
                              [src]="getPlayerImage(bnplayer.pid) || '../../assets/team-default.png'" alt="player-img"
                              height="40" width="40"></div>
                        </div>
      
                      </div>
                    </div>
                  </div>
                </div>
            
              </div>
         
              <div class="preview-card-holder no-squad-announce playing-content playing-content-close hidden">
                <div class="preview-card-content team-card">
                  <span class="announced">Not available for this match</span>
                </div>
              </div>
            </div>
            <div id="preview-data" class="preview-data preview-data-v2 info-cmc">
            <div class="panel">
                <div class="panel-heading">
                  <div class="panel-heading-text">Pitch Report</div>
                </div>
                <div class="panel-body">
    
                  <div class="pitch-report-container">
                    <div class="report-wrapper">
                      <div class="report-details remove-border-radius">
                        <span class="detail-label">Pitch</span><span
                          class="detail-value">{{scorelist?.pitch?.pitch_condition?scorelist?.pitch?.pitch_condition:'-'}}</span>
                      </div>
                      <div class="report-details remove-border-radius">
                        <span class="detail-label">Pace Bowling</span><span
                          class="detail-value">{{scorelist?.pitch?.pace_bowling_condition?scorelist?.pitch?.pace_bowling_condition:'-'}}</span>
                      </div>
                      <div class="report-details ">
                        <span class="detail-label">Batting Condition</span><span
                          class="detail-value">{{scorelist?.pitch?.batting_condition?scorelist?.pitch?.batting_condition:'-'}}</span>
                      </div>
                      <div class="report-details ">
                        <span class="detail-label">Spin Bowling</span><span
                          class="detail-value">{{scorelist?.pitch?.spine_bowling_condition?scorelist?.pitch?.spine_bowling_condition:'-'}}</span>
                      </div>
                    </div>
                    <!-- <div class="stats-header-wrapper">
                      <div class="stats-header">VENUE STATS</div>
                    </div> -->
                    <!-- <div class="stats-wrapper">
                      <div class="stats-info" *ngFor="let item of infoData?.preview_data.avg_venue_scores">
                        <div class="inning-label">
                          <div class="inning-bg"></div>
                          {{addOrdinalSuffix(item.inning_number)}} Innings
                        </div>
                        <div class="stat-details">
                          <div class="stat-detail "><span class="value">{{item.avg_runs}}</span><span class="label">Avg Runs</span>
                          </div>
                          <div class="stat-detail "><span class="value">{{item.avg_wickets}}</span><span class="label">Avg
                              Wkts</span></div>
                          <div class="stat-detail "><span class="value">{{item.avg_strike_rate}}</span><span class="label">Avg
                              SR</span></div>
                        </div>
                      </div>
                    </div> -->
    
                  </div>
                </div>
              </div>
      </div>
          </div>
    </div>
    </div>
