<div class="about-us">
  <section class="about-us-header">
    <div class="section-container">
      <div class="section">
        <div class="intro">
          <div class="content-section">
            <div class="content-desc">
              <h1>About <span>Tejscore</span></h1>
              <h3>Tejscore - For the hardcore sports fan</h3>
              <p>Fans don't just follow the sport, they feel it. We're one of you, and we strive to keep you on top of
                every possible sports trend by creating engaging and insightful content at lightning-quick speed.
                Established in 2009, Tejscore is a global sports content platform that covers the world's biggest
                sports and esports subjects and serves over 100 Million fans every month. Our passionate team comprises
                top journalists from around the world who produce hundreds of well-researched content pieces on a daily
                basis.</p>
              <p>We are a Great Place to Work certified organization, with employees and contributors working from
                various corners of the globe.</p>
            </div>
          </div>
          <div class="image-section">
            <img src="/assets/great-place-to-work.png" width="340" height="240"
              alt="great place to work">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="editorial">
    <div class="section">
      <div class="section-container">
        <div class="editorial-content">
          <div class="content-desc">
            <h1>Our Editorial <span>process and standards</span></h1>
            <p>Our aim is to be Factual. Precise. Unbiased. Engaging. <br>We strive to maintain the highest standards of
              journalistic integrity in all forms of news and content we create for you, read more about our editorial
              process</p>
          </div>
          <div class="action-item">
            <a class="editorial-button" routerLink="/editorialteam">
              <span>Editorial Page</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="organisation-info">
    <div class="section">
      <div class="section-container">
        <div class="organisation-content">
          <div class="content-desc">
            <h1>We are 100% <span>Remote Organisation</span></h1>
            <p>While we work remotely with our dynamic team spread all across the globe, we also sometimes work from our
              new state-of-the-art office in Bangalore.</p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="get-in-touch">
    <div class="section">
      <div class="section-container">
        <div class="get-in-touch-content">
          <div class="content-desc">
            <h1>Get in touch <span>with us</span></h1>
            <p>Our aim is to be Factual. Precise. Unbiased. Engaging.</p>
            <div class="action-item">
              <a class="contact-button" routerLink="/contact">
                <span>Contact Now</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
