
<section class="hero-section">
  <div class="hero-container" data-imp-id="page_primary_hero">

    <div class="wrapper-container">

      <div class="hero-content  has-countdown">
        <div class="left">
          <div class="hero-h1-container">
            <h1 class="hero-h1">{{seriesInfo?.title}} News</h1>
          </div>
          <!-- <div class="hash-tagline">Action Begins In</div> -->
          <div class="hash-tagline">{{seriesInfo?.dates}}</div>

        </div>
        <div class="right">
          <div class="hero-img">
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<section class="wrapper-container">
  <div class="fragment-container">

    <main class="tax-news-page">
      <section class="layout-wrapper">
        <div class="content-container">
          <div class="sidebar-container ">
            <aside class="sidebar">
              <div class="sidebar-content">
                <div class="ad-container" id="" style="
    min-height: 80px;
    width: 100%; text-align: center;clear:both;
    ">
                  <div class="ad-declare-explicit"></div>

                  <div id="div-gpt-ad-1653457590899-0" class="">

                  </div>
                </div>

                <div class="ad-container" id="" style="
    min-height: 80px;
    width: 100%; text-align: center;clear:both;
    ">
                  <div class="ad-declare-explicit"></div>

                  <div id="div-gpt-ad-1471939034701-0" class="">

                  </div>
                </div>

              </div>
            </aside>
          </div>
          <div class="left">
            <section class="pinned-stories">
              <div class="panel">
                <div class="panel-body no-padding">
                  <div class="feed-items">
                    <ng-container *ngFor="let item of newslist; let i=index;">
                      <div class="sport-feed-item-primary" *ngIf="item.type=='primary'">
                        <div class="sports-feed-item-primary-element">
                          <a class="feed-item-cta"
                            routerLink="/cricket-news/{{item.link}}"
                            >{{item.title}}</a>
                          <img width="334" height="200"
                            alt="&quot;Can't wait to get my hands on him in this squad&quot; - Daren Sammy on Shamar Joseph playing white-ball cricket for West Indies"
                            src="{{item.img}}"
                            class="lazy-img-bg">
                          <div class="sports-feed-item-element-meta">
                            <div class="sports-primary-title">{{item.title}}</div>
                            <div class="sports-feed-item-primary-modified-time">{{item.time}}</div>
                          </div>
                        </div>
                      </div>
                      <div class="feed-item-secondary" *ngIf="item.type=='secondary'" >
                        <div class="sports-feed-item-secondary-element">
                          <a class="feed-item-cta"
                            routerLink="/cricket-news/{{item.link}}"
                            data-sequence="2" data-section="">{{item.link}}</a>
                          <img class="feed-element-img" width="82" height="83"
                            alt="“Koi tension nahi hai, 4-1 karenge” – Chetan Sharma backs India to win five-match Test series against England ahead of Vizag Test"
                            src="{{item.img}}">
                          <div class="sports-feed-item-secondary-meta">
                            <div class="sports-item-title">{{item.title}}</div>
                            <div class="sports-feed-item-secondary-modified-time">{{item.time}}</div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <div class="section-separator"></div>



                    </div>
                </div>
              </div>
            </section>

            <div class="section-separator"></div>
            <section class="pagination-section hidden">
              <div class="pagination-container">
                <span class="pagination-number disabled">Back</span>
                <div class="pagination-numbers">
                  <span class="pagination-number selected">1</span>
                  <a class="pagination-number" routerLink="?page=2">2</a>
                  <a class="pagination-number" routerLink="?page=3">3</a>
                  <a class="pagination-number" routerLink="?page=4">4</a>
                  <a class="pagination-number" routerLink="?page=5">5</a>
                  <a class="pagination-number" routerLink="?page=6">6</a>
                  <a class="pagination-number" routerLink="?page=7">7</a>
                  <a class="pagination-number" routerLink="?page=8">8</a>
                  <a class="pagination-number" routerLink="?page=9">9</a>
                  <a class="pagination-number" routerLink="?page=10">10</a>
                  <a class="pagination-number" routerLink="?page=11">11</a>
                  <a class="pagination-number" routerLink="?page=12">12</a>
                  <a class="pagination-number" routerLink="?page=13">13</a>
                  <a class="pagination-number" routerLink="?page=14">14</a>
                  <a class="pagination-number" routerLink="?page=15">15</a>
                  <a class="pagination-number" routerLink="?page=16">16</a>
                  <a class="pagination-number" routerLink="?page=17">17</a>
                  <a class="pagination-number" routerLink="?page=18">18</a>
                  <a class="pagination-number" routerLink="?page=19">19</a>
                  <a class="pagination-number" routerLink="?page=20">20</a>
                  <a class="pagination-number" routerLink="?page=21">21</a>
                  <a class="pagination-number" routerLink="?page=22">22</a>
                  <a class="pagination-number" routerLink="?page=23">23</a>
                  <a class="pagination-number" routerLink="?page=24">24</a>
                  <a class="pagination-number" routerLink="?page=25">25</a>
                  <a class="pagination-number" routerLink="?page=26">26</a>
                  <a class="pagination-number" routerLink="?page=27">27</a>
                  <a class="pagination-number" routerLink="?page=28">28</a>
                  <a class="pagination-number" routerLink="?page=29">29</a>
                  <a class="pagination-number" routerLink="?page=30">30</a>
                  <a class="pagination-number" routerLink="?page=31">31</a>
                  <a class="pagination-number" routerLink="?page=32">32</a>
                  <a class="pagination-number" routerLink="?page=33">33</a>
                  <a class="pagination-number" routerLink="?page=34">34</a>
                  <a class="pagination-number" routerLink="?page=35">35</a>
                  <a class="pagination-number" routerLink="?page=36">36</a>
                  <a class="pagination-number" routerLink="?page=37">37</a>
                  <a class="pagination-number" routerLink="?page=38">38</a>
                  <a class="pagination-number" routerLink="?page=39">39</a>
                  <a class="pagination-number" routerLink="?page=40">40</a>
                  <a class="pagination-number" routerLink="?page=41">41</a>
                  <a class="pagination-number" routerLink="?page=42">42</a>
                  <a class="pagination-number" routerLink="?page=43">43</a>
                  <a class="pagination-number" routerLink="?page=44">44</a>
                  <a class="pagination-number" routerLink="?page=45">45</a>
                  <a class="pagination-number" routerLink="?page=46">46</a>
                  <a class="pagination-number" routerLink="?page=47">47</a>
                  <a class="pagination-number" routerLink="?page=48">48</a>
                  <a class="pagination-number" routerLink="?page=49">49</a>
                  <a class="pagination-number" routerLink="?page=50">50</a>
                  <a class="pagination-number" routerLink="?page=51">51</a>
                  <a class="pagination-number" routerLink="?page=52">52</a>
                  <a class="pagination-number" routerLink="?page=53">53</a>
                  <a class="pagination-number" routerLink="?page=54">54</a>
                  <a class="pagination-number" routerLink="?page=55">55</a>
                  <a class="pagination-number" routerLink="?page=56">56</a>
                  <a class="pagination-number" routerLink="?page=57">57</a>
                  <a class="pagination-number" routerLink="?page=58">58</a>
                  <a class="pagination-number" routerLink="?page=59">59</a>
                  <a class="pagination-number" routerLink="?page=60">60</a>
                  <a class="pagination-number" routerLink="?page=61">61</a>
                  <a class="pagination-number" routerLink="?page=62">62</a>
                  <a class="pagination-number" routerLink="?page=63">63</a>
                  <a class="pagination-number" routerLink="?page=64">64</a>
                  <a class="pagination-number" routerLink="?page=65">65</a>
                  <a class="pagination-number" routerLink="?page=66">66</a>
                  <a class="pagination-number" routerLink="?page=67">67</a>
                  <a class="pagination-number" routerLink="?page=68">68</a>
                  <a class="pagination-number" routerLink="?page=69">69</a>
                  <a class="pagination-number" routerLink="?page=70">70</a>
                  <a class="pagination-number" routerLink="?page=71">71</a>
                  <a class="pagination-number" routerLink="?page=72">72</a>
                  <a class="pagination-number" routerLink="?page=73">73</a>
                  <a class="pagination-number" routerLink="?page=74">74</a>
                  <a class="pagination-number" routerLink="?page=75">75</a>
                  <a class="pagination-number" routerLink="?page=76">76</a>
                  <a class="pagination-number" routerLink="?page=77">77</a>
                  <a class="pagination-number" routerLink="?page=78">78</a>
                  <a class="pagination-number" routerLink="?page=79">79</a>
                  <a class="pagination-number" routerLink="?page=80">80</a>
                  <a class="pagination-number" routerLink="?page=81">81</a>
                  <a class="pagination-number" routerLink="?page=82">82</a>
                  <a class="pagination-number" routerLink="?page=83">83</a>
                  <a class="pagination-number" routerLink="?page=84">84</a>
                  <a class="pagination-number" routerLink="?page=85">85</a>
                  <a class="pagination-number" routerLink="?page=86">86</a>
                  <a class="pagination-number" routerLink="?page=87">87</a>
                  <a class="pagination-number" routerLink="?page=88">88</a>
                  <a class="pagination-number" routerLink="?page=89">89</a>
                  <a class="pagination-number" routerLink="?page=90">90</a>
                  <a class="pagination-number" routerLink="?page=91">91</a>
                  <a class="pagination-number" routerLink="?page=92">92</a>
                  <a class="pagination-number" routerLink="?page=93">93</a>
                  <a class="pagination-number" routerLink="?page=94">94</a>
                  <a class="pagination-number" routerLink="?page=95">95</a>
                  <a class="pagination-number" routerLink="?page=96">96</a>
                  <a class="pagination-number" routerLink="?page=97">97</a>
                  <a class="pagination-number" routerLink="?page=98">98</a>
                  <a class="pagination-number" routerLink="?page=99">99</a>
                  <a class="pagination-number" routerLink="?page=100">100</a>
                  <a class="pagination-number" routerLink="?page=101">101</a>
                  <a class="pagination-number" routerLink="?page=102">102</a>
                  <a class="pagination-number" routerLink="?page=103">103</a>
                  <a class="pagination-number" routerLink="?page=104">104</a>
                  <a class="pagination-number" routerLink="?page=105">105</a>
                  <a class="pagination-number" routerLink="?page=106">106</a>
                  <a class="pagination-number" routerLink="?page=107">107</a>
                  <a class="pagination-number" routerLink="?page=108">108</a>
                  <a class="pagination-number" routerLink="?page=109">109</a>
                  <a class="pagination-number" routerLink="?page=110">110</a>
                  <a class="pagination-number" routerLink="?page=111">111</a>
                  <a class="pagination-number" routerLink="?page=112">112</a>
                  <a class="pagination-number" routerLink="?page=113">113</a>
                  <a class="pagination-number" routerLink="?page=114">114</a>
                  <a class="pagination-number" routerLink="?page=115">115</a>
                  <a class="pagination-number" routerLink="?page=116">116</a>
                  <a class="pagination-number" routerLink="?page=117">117</a>
                  <a class="pagination-number" routerLink="?page=118">118</a>
                  <a class="pagination-number" routerLink="?page=119">119</a>
                  <a class="pagination-number" routerLink="?page=120">120</a>
                  <a class="pagination-number" routerLink="?page=121">121</a>
                  <a class="pagination-number" routerLink="?page=122">122</a>
                  <a class="pagination-number" routerLink="?page=123">123</a>
                  <a class="pagination-number" routerLink="?page=124">124</a>
                  <a class="pagination-number" routerLink="?page=125">125</a>
                  <a class="pagination-number" routerLink="?page=126">126</a>
                  <a class="pagination-number" routerLink="?page=127">127</a>
                  <a class="pagination-number" routerLink="?page=128">128</a>
                  <a class="pagination-number" routerLink="?page=129">129</a>
                  <a class="pagination-number" routerLink="?page=130">130</a>
                  <a class="pagination-number" routerLink="?page=131">131</a>
                  <a class="pagination-number" routerLink="?page=132">132</a>
                  <a class="pagination-number" routerLink="?page=133">133</a>
                  <a class="pagination-number" routerLink="?page=134">134</a>
                  <a class="pagination-number" routerLink="?page=135">135</a>
                  <a class="pagination-number" routerLink="?page=136">136</a>
                  <a class="pagination-number" routerLink="?page=137">137</a>
                  <a class="pagination-number" routerLink="?page=138">138</a>
                  <a class="pagination-number" routerLink="?page=139">139</a>
                  <a class="pagination-number" routerLink="?page=140">140</a>
                  <a class="pagination-number" routerLink="?page=141">141</a>
                  <a class="pagination-number" routerLink="?page=142">142</a>
                  <a class="pagination-number" routerLink="?page=143">143</a>
                  <a class="pagination-number" routerLink="?page=144">144</a>
                  <a class="pagination-number" routerLink="?page=145">145</a>
                  <a class="pagination-number" routerLink="?page=146">146</a>
                  <a class="pagination-number" routerLink="?page=147">147</a>
                  <a class="pagination-number" routerLink="?page=148">148</a>
                  <a class="pagination-number" routerLink="?page=149">149</a>
                  <a class="pagination-number" routerLink="?page=150">150</a>
                  <a class="pagination-number" routerLink="?page=151">151</a>
                  <a class="pagination-number" routerLink="?page=152">152</a>
                  <a class="pagination-number" routerLink="?page=153">153</a>
                  <a class="pagination-number" routerLink="?page=154">154</a>
                  <a class="pagination-number" routerLink="?page=155">155</a>
                  <a class="pagination-number" routerLink="?page=156">156</a>
                  <a class="pagination-number" routerLink="?page=157">157</a>
                  <a class="pagination-number" routerLink="?page=158">158</a>
                  <a class="pagination-number" routerLink="?page=159">159</a>
                  <a class="pagination-number" routerLink="?page=160">160</a>
                  <a class="pagination-number" routerLink="?page=161">161</a>
                  <a class="pagination-number" routerLink="?page=162">162</a>
                  <a class="pagination-number" routerLink="?page=163">163</a>
                  <a class="pagination-number" routerLink="?page=164">164</a>
                  <a class="pagination-number" routerLink="?page=165">165</a>
                  <a class="pagination-number" routerLink="?page=166">166</a>
                  <a class="pagination-number" routerLink="?page=167">167</a>
                  <a class="pagination-number" routerLink="?page=168">168</a>
                  <a class="pagination-number" routerLink="?page=169">169</a>
                  <a class="pagination-number" routerLink="?page=170">170</a>
                  <a class="pagination-number" routerLink="?page=171">171</a>
                  <a class="pagination-number" routerLink="?page=172">172</a>
                  <a class="pagination-number" routerLink="?page=173">173</a>
                  <a class="pagination-number" routerLink="?page=174">174</a>
                  <a class="pagination-number" routerLink="?page=175">175</a>
                  <a class="pagination-number" routerLink="?page=176">176</a>
                  <a class="pagination-number" routerLink="?page=177">177</a>
                  <a class="pagination-number" routerLink="?page=178">178</a>
                  <a class="pagination-number" routerLink="?page=179">179</a>
                  <a class="pagination-number" routerLink="?page=180">180</a>
                  <a class="pagination-number" routerLink="?page=181">181</a>
                  <a class="pagination-number" routerLink="?page=182">182</a>
                  <a class="pagination-number" routerLink="?page=183">183</a>
                  <a class="pagination-number" routerLink="?page=184">184</a>
                  <a class="pagination-number" routerLink="?page=185">185</a>
                  <a class="pagination-number" routerLink="?page=186">186</a>
                  <a class="pagination-number" routerLink="?page=187">187</a>
                  <a class="pagination-number" routerLink="?page=188">188</a>
                  <a class="pagination-number" routerLink="?page=189">189</a>
                  <a class="pagination-number" routerLink="?page=190">190</a>
                  <a class="pagination-number" routerLink="?page=191">191</a>
                  <a class="pagination-number" routerLink="?page=192">192</a>
                  <a class="pagination-number" routerLink="?page=193">193</a>
                  <a class="pagination-number" routerLink="?page=194">194</a>
                  <a class="pagination-number" routerLink="?page=195">195</a>
                  <a class="pagination-number" routerLink="?page=196">196</a>
                  <a class="pagination-number" routerLink="?page=197">197</a>
                  <a class="pagination-number" routerLink="?page=198">198</a>
                  <a class="pagination-number" routerLink="?page=199">199</a>
                  <a class="pagination-number" routerLink="?page=200">200</a>
                  <a class="pagination-number" routerLink="?page=201">201</a>
                  <a class="pagination-number" routerLink="?page=202">202</a>
                  <a class="pagination-number" routerLink="?page=203">203</a>
                  <a class="pagination-number" routerLink="?page=204">204</a>
                  <a class="pagination-number" routerLink="?page=205">205</a>
                  <a class="pagination-number" routerLink="?page=206">206</a>
                  <a class="pagination-number" routerLink="?page=207">207</a>
                  <a class="pagination-number" routerLink="?page=208">208</a>
                  <a class="pagination-number" routerLink="?page=209">209</a>
                  <a class="pagination-number" routerLink="?page=210">210</a>
                  <a class="pagination-number" routerLink="?page=211">211</a>
                  <a class="pagination-number" routerLink="?page=212">212</a>
                  <a class="pagination-number" routerLink="?page=213">213</a>
                  <a class="pagination-number" routerLink="?page=214">214</a>
                  <a class="pagination-number" routerLink="?page=215">215</a>
                  <a class="pagination-number" routerLink="?page=216">216</a>
                  <a class="pagination-number" routerLink="?page=217">217</a>
                  <a class="pagination-number" routerLink="?page=218">218</a>
                  <a class="pagination-number" routerLink="?page=219">219</a>
                  <a class="pagination-number" routerLink="?page=220">220</a>
                  <a class="pagination-number" routerLink="?page=221">221</a>
                  <a class="pagination-number" routerLink="?page=222">222</a>
                  <a class="pagination-number" routerLink="?page=223">223</a>
                  <a class="pagination-number" routerLink="?page=224">224</a>
                  <a class="pagination-number" routerLink="?page=225">225</a>
                  <a class="pagination-number" routerLink="?page=226">226</a>
                  <a class="pagination-number" routerLink="?page=227">227</a>
                  <a class="pagination-number" routerLink="?page=228">228</a>
                  <a class="pagination-number" routerLink="?page=229">229</a>
                  <a class="pagination-number" routerLink="?page=230">230</a>
                  <a class="pagination-number" routerLink="?page=231">231</a>
                  <a class="pagination-number" routerLink="?page=232">232</a>
                  <a class="pagination-number" routerLink="?page=233">233</a>
                  <a class="pagination-number" routerLink="?page=234">234</a>
                  <a class="pagination-number" routerLink="?page=235">235</a>
                  <a class="pagination-number" routerLink="?page=236">236</a>
                  <a class="pagination-number" routerLink="?page=237">237</a>
                  <a class="pagination-number" routerLink="?page=238">238</a>
                  <a class="pagination-number" routerLink="?page=239">239</a>
                  <a class="pagination-number" routerLink="?page=240">240</a>
                  <a class="pagination-number" routerLink="?page=241">241</a>
                  <a class="pagination-number" routerLink="?page=242">242</a>
                  <a class="pagination-number" routerLink="?page=243">243</a>
                  <a class="pagination-number" routerLink="?page=244">244</a>
                  <a class="pagination-number" routerLink="?page=245">245</a>
                  <a class="pagination-number" routerLink="?page=246">246</a>
                  <a class="pagination-number" routerLink="?page=247">247</a>
                  <a class="pagination-number" routerLink="?page=248">248</a>
                  <a class="pagination-number" routerLink="?page=249">249</a>
                  <a class="pagination-number" routerLink="?page=250">250</a>
                  <a class="pagination-number" routerLink="?page=251">251</a>
                  <a class="pagination-number" routerLink="?page=252">252</a>
                  <a class="pagination-number" routerLink="?page=253">253</a>
                  <a class="pagination-number" routerLink="?page=254">254</a>
                  <a class="pagination-number" routerLink="?page=255">255</a>
                  <a class="pagination-number" routerLink="?page=256">256</a>
                  <a class="pagination-number" routerLink="?page=257">257</a>
                  <a class="pagination-number" routerLink="?page=258">258</a>
                  <a class="pagination-number" routerLink="?page=259">259</a>
                  <a class="pagination-number" routerLink="?page=260">260</a>
                  <a class="pagination-number" routerLink="?page=261">261</a>
                  <a class="pagination-number" routerLink="?page=262">262</a>
                  <a class="pagination-number" routerLink="?page=263">263</a>
                  <a class="pagination-number" routerLink="?page=264">264</a>
                  <a class="pagination-number" routerLink="?page=265">265</a>
                  <a class="pagination-number" routerLink="?page=266">266</a>
                  <a class="pagination-number" routerLink="?page=267">267</a>
                  <a class="pagination-number" routerLink="?page=268">268</a>
                  <a class="pagination-number" routerLink="?page=269">269</a>
                  <a class="pagination-number" routerLink="?page=270">270</a>
                  <a class="pagination-number" routerLink="?page=271">271</a>
                  <a class="pagination-number" routerLink="?page=272">272</a>
                  <a class="pagination-number" routerLink="?page=273">273</a>
                  <a class="pagination-number" routerLink="?page=274">274</a>
                  <a class="pagination-number" routerLink="?page=275">275</a>
                  <a class="pagination-number" routerLink="?page=276">276</a>
                  <a class="pagination-number" routerLink="?page=277">277</a>
                  <a class="pagination-number" routerLink="?page=278">278</a>
                  <a class="pagination-number" routerLink="?page=279">279</a>
                  <a class="pagination-number" routerLink="?page=280">280</a>
                  <a class="pagination-number" routerLink="?page=281">281</a>
                  <a class="pagination-number" routerLink="?page=282">282</a>
                  <a class="pagination-number" routerLink="?page=283">283</a>
                  <a class="pagination-number" routerLink="?page=284">284</a>
                  <a class="pagination-number" routerLink="?page=285">285</a>
                  <a class="pagination-number" routerLink="?page=286">286</a>
                  <a class="pagination-number" routerLink="?page=287">287</a>
                </div>
                <a class="pagination-number" routerLink="?page=2">Next</a>
              </div>

            </section>
          </div>
        </div>
      </section>
    </main>


    <div class="sk-ads-taboola-container sk-ads-taboola-newslistingpage">


      <div id="taboola-below-article-thumbnails"></div>

    </div>

  </div>
</section>
