<div class="footer container-fluid" *ngIf="mainFooter">
  <div class="social-links">
    <div class="footer-logo">
      <img src="/assets/tejscore-footer-logo.svg" alt="">
      <p>Tejscore - For the hardcore sports fan.  We are a Great Place to Work certified organization, with employees and contributors working from
        various corners of the globe.</p>
    </div>
    <div class="footer-link">
      <a class="headings" routerLink="">Links

      </a>
      <div class="inner-links">
        <a routerLink="/home">Home</a>
        <a routerLink="">Advertise</a>
        <a routerLink="/series">Series</a>
        <a routerLink="/cricket-schedule">Schedule</a>

      </div>
    </div>
    <div class="footer-link">
      <div><a class="headings" routerLink="">other</a>
        <div class="inner-links">
          <a routerLink="">Terms & conditions</a>
          <a routerLink="">Privacy Policy</a>
          <a routerLink="/about-us">About Us</a>

        </div>
      </div>

    </div>
    <div class="footer-link">
      <div><a class="headings" routerLink="">social</a>
        <div class="inner-links">
          <a routerLink="">Follow us on Social Media</a>
          <div id="lastdiv">
            <a routerLink="">
              <img src="../../assets/image/Subtract.svg" alt="">
            </a>
            <a routerLink="">
              <img src="../../assets/image/instagram.svg" alt="">
            </a>
            <a routerLink="">
              <img src="../../assets/image/youtube.svg" alt="">
            </a>
            <a routerLink="">
              <img src="../../assets/image/linkedIn.svg" alt="">
            </a>
            <a routerLink="">
              <img src="../../assets/image/twitter.svg" alt="">
            </a>
          </div>


        </div>
      </div>

    </div>
  </div>
  <div style="clear: both;;" class="policies">
    <div class="policy"> ©️ 2024 tejscore.com | All Rights Reserved</div>
    <!-- <div class="languages">English <img id="img1" src="../../assets/image/icons8-expand-arrow-50.png"></div> -->
  </div>
</div>
